<nav class="navbar bg-blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo argentina programa.png" alt="logo argentina programa" width="200" height="60" class="d-inline-block align-text-top">
      </a>
      <div class="d-flex justify-content-end">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/facebook.png" alt="facebook" width="40" height="40" class="d-inline-block align-text-top">
          </a>
          <a class="navbar-brand" href="#">
            <img src="../../../assets/images/linkedin.png" alt="linkedin" width="40" height="40" class="d-inline-block align-text-top">
          </a>
          <a class="navbar-brand" href="#">
            <img src="../../../assets/images/whatapp.png" alt="whatsapp" width="40" height="40" class="d-inline-block align-text-top">
          </a>
        <button type="button" class="btn btn-light fw-bolder"> Login </button>
      </div>
    </div>
  </nav>
<div>
    <img src="../../../assets/images/Portada.jpeg" class="img-fluid" alt="banner">
</div>