
<div class="row m-4">
  <div class="col-12">
    <h1 class="text-center border-bottom">Experiencias</h1>
  </div>

<ng-container *ngFor="let exp of persona.experiencias;let index = index">
  <div class="col-3">
    <div class="d-flex justify-content-center text-center">
      <img [src]="exp.urlFoto" alt="alladio" width="200px">
    </div>
  </div>
  <div class="col-9" >
    <div>
      <h4 
        class="fw-bolder m-4">{{exp.titulo}}
        <fa-icon class="puntero" [icon]="faPen" *ngIf="estoyLogiado" (click)="editarTitulo()"></fa-icon>
        <fa-icon class="puntero m-2" [icon]="faTimes" *ngIf="estoyLogiado" (click)="borrarExperiencia(exp.id)"></fa-icon>
      </h4>
      <div class="input-group mb-3"  *ngIf="estoyEditandoTitulo">
        <input type="text" class="form-control" placeholder="Titulo" aria-label="Titulo" aria-describedby="button-addon2" [(ngModel)]="titulos[index]">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="guardarTitulo(exp,index)">Guardar</button>
      </div>
    </div>
    <div class="m-4">
      <p> {{exp.descripcion}} <fa-icon class="puntero" [icon]="faPen" *ngIf="estoyLogiado" (click)="editarDescripcion()"></fa-icon>
      </p>
      <div class="input-group mb-3"  *ngIf="estoyEditandoDescripcion">
        <textarea class="form-control" placeholder="Descripcion" aria-label="Descripcion" aria-describedby="button-addon2" [(ngModel)]="descripcion[index]"></textarea>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="guardarDescripcion(exp,index)">Guardar</button>
      </div>
      
    </div>
  </div>
</ng-container>
</div>

