
<div class="row m-4">
  <div class="col-12">
    <h1 class="text-center border-bottom">Experiencias</h1>
  </div>

  <div class="col-3">
    <div class="d-flex justify-content-center text-center">
      <img src="../../../assets/images/logo alladio original1.jpg" alt="alladio" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Operario Reparador de Moldes y Matrices (2016-actualidad)</h4>
    </div>
    <div class="m-4">
      <p>Efectuar reparaciones, modificaciones y ajustes en moldes y matrices que realizan las piezas para diferentes tipos de electrodomesticos.</p>
    </div>
  </div>
  <div class="col-3">
    <div class="d-flex justify-content-center p-3">
      <img src="../../../assets/images/FPT_Industrial_Logo.png" alt="fpt" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Operario de linea (2014-2016)</h4>
    </div>
    <div>
      <p class="m-4">Linea de armado, control de calidad y embalaje de motores para camiones, maquinas viales y maquinaria agricola. </p>
    </div>
  </div>
  <div class="col-3 ">
    <div class="d-flex justify-content-center">
      <img src="../../../assets/images/logo goergalos original.png" alt="georgalos" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Maquinista (2012-2014)</h4>
    </div>
    <div>
      <p class="m-4">Manejo de máquinas embolsadoras de caramelos, alfajores y chocolates.</p>
    </div>
  </div>
</div>

