
<div class="row">
  <div class="col-12">
    <h1 class="text-center border-bottom">Experiencias</h1>
  </div>

  <div class="col-3">
    <div class="d-flex justify-content-center text-center">
      <img src="../../../assets/images/logo alladio.png" alt="alladio" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Matricero (2016-actualidad)</h4>
    </div>
    <div class="m-4">
      <p>Mi funcion es la reparacion de moldes y matrices dentro de la planta. Tambien me encargo del funcionamiento de torno, fresas y rectificadoras</p>
    </div>
  </div>
  <div class="col-3">
    <div class="d-flex justify-content-center p-3">
      <img src="../../../assets/images/FPT_Industrial_Logo.png" alt="fpt" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Operario de linea (2014-2016)</h4>
    </div>
    <div>
      <p class="m-4">Mi funcion era trabajar el la linea de armados de motores para camiones, maquinas viales y maquinas agricolas. </p>
    </div>
  </div>
  <div class="col-3 ">
    <div class="d-flex justify-content-center">
      <img src="../../../assets/images/logo-georgalos.png" alt="georgalos" width="200px">
    </div>

  </div>
  <div class="col-9">
    <div>
      <h4 class="fw-bolder m-4">Maquinista (2012-2014)</h4>
    </div>
    <div>
      <p class="m-4">Como maquinista mi tarea era manejar maquinas envolvedoras de caramelos, alfajores y chocolate</p>
    </div>
  </div>
</div>

